
*.cache
*.cache
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.cache
*.pdb
*.dll
*.cache
*.pdb
*.config
*.cache
OcaHost/bin/Debug/OcaGameWCF.dll
OcaHost/bin/Debug/OcaGameWCF.dll
OcaHost/bin/Debug/OcaGameWCF.pdb
OcaHost/bin/Debug/OcaHost.exe.config
OcaHost/bin/Debug/OcaGameWCF.pdb
OcaGame/.vs/OcaGame/FileContentIndex/77e5bd25-8ca7-4029-84f4-e8c749f501db.vsidx
*.vsidx
*.vsidx
*.cache
OcaGame/.vs/OcaGame/FileContentIndex/77e5bd25-8ca7-4029-84f4-e8c749f501db.vsidx
OcaGame/.vs/OcaGame/FileContentIndex/f0171435-52b8-403a-a5d3-f984db5f2a95.vsidx
OcaGame/.vs/OcaGame/v17/.suo
OcaGame/OcaGameWCF/bin/Debug/OcaGameWCF.dll
*.pdb
OcaGame/OcaGameWCF/obj/Debug/OcaGameWCF.csproj.AssemblyReference.cache
*.dll
OcaGame/OcaGameWCF/obj/Debug/OcaGameWCF.pdb
OcaGame/.vs/OcaGame/FileContentIndex/5949af1f-5bfd-4386-89ab-dd639952b8f8.vsidx
*.vsidx
*.vsidx
